In [203]:
import pandas as pd 
import os.path
#Escogiendo cuantas columnas y filas presentar 
pd.options.display.max_columns = 30
pd.options.display.max_rows = 30

In [204]:
assertus = pd.read_excel (os.path.abspath ("./inputs/assertus_report.xlsx"), sheet_name = "Sheet1") 
hchn = pd.read_excel (os.path.abspath ("./inputs/HCHN ICD-10 Diagnoses.xlsx"), sheet_name = "HCHN Diagnoses")

In [205]:
assertus2 = assertus [["dDateFrom","sCardContractNo", "Dx1", "Dx2", "Dx3", "Dx4", "Dx5", "Dx6", "Dx7", "Dx8", "Dx9", "Dx10", "Dx11","Dx12" ] ]
assertus2

,dDateFrom,sCardContractNo,Dx1,Dx2,Dx3,Dx4,Dx5,Dx6,Dx7,Dx8,Dx9,Dx10,Dx11,Dx12
0,2019-08-05 08:08:39,80021348816,F33.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-08-05 08:08:39,80021348816,F33.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-08-05 08:08:39,80006787208,F41.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-08-01 08:08:39,80012821488,F33.0,F41.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-08-01 08:08:39,80012821488,F33.0,F41.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115318,2020-06-19 07:12:09,80001841864,M25.562,G80.9,J45.909,M19.072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115319,2020-06-19 07:12:09,80001841864,M25.562,G80.9,J45.909,M19.072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115320,2020-06-22 07:12:09,80000165416,I10,E78.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115321,2020-06-22 07:12:09,80000165416,I10,E78.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115322,2020-06-22 07:12:09,80000165416,I10,E78.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [206]:
#assertus2 = pd.melt(assertus2,id_vars=["sCardContractNo"])
assertus_HCHN1 = assertus2.merge(hchn, how = "left", left_on = "Dx1", right_on = "Dx")
assertus_HCHN1 = assertus_HCHN1.rename(columns={"Dx" : "HDx1"})
assertus_HCHN1 = assertus_HCHN1["HDx1"]

In [207]:
assertus_HCHN2 = assertus2.merge(hchn, how = "left", left_on = "Dx2", right_on = "Dx")
assertus_HCHN2 = assertus_HCHN2.rename(columns={"Dx" : "HDx2"})
assertus_HCHN2 = assertus_HCHN2["HDx2"]

In [208]:
assertus_HCHN3 = assertus2.merge(hchn, how = "left", left_on = "Dx3", right_on = "Dx")
assertus_HCHN3 = assertus_HCHN3.rename(columns={"Dx" : "HDx3"})
assertus_HCHN3 = assertus_HCHN3["HDx3"]
assertus_HCHN3

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
           ...
115318    J45.909
115319    J45.909
115320        NaN
115321        NaN
115322        NaN
Name: HDx3, Length: 115323, dtype: object

In [209]:
assertus_HCHN4 = assertus2.merge(hchn, how = "left", left_on = "Dx4", right_on = "Dx")
assertus_HCHN4 = assertus_HCHN4.rename(columns={"Dx" : "HDx4"})
assertus_HCHN4 = assertus_HCHN4["HDx4"]

In [210]:
assertus_HCHN5 = assertus2.merge(hchn, how = "left", left_on = "Dx5", right_on = "Dx")
assertus_HCHN5 = assertus_HCHN5.rename(columns={"Dx" : "HDx5"})
assertus_HCHN5 = assertus_HCHN5["HDx5"]

In [211]:
assertus_HCHN6 = assertus2.merge(hchn, how = "left", left_on = "Dx6", right_on = "Dx")
assertus_HCHN6 = assertus_HCHN6.rename(columns={"Dx" : "HDx6"})
assertus_HCHN6 = assertus_HCHN6["HDx6"]

In [212]:
assertus_HCHN7 = assertus2.merge(hchn, how = "left", left_on = "Dx7", right_on = "Dx")
assertus_HCHN7 = assertus_HCHN7.rename(columns={"Dx" : "HDx7"})
assertus_HCHN7 = assertus_HCHN7["HDx7"]

In [213]:
assertus_HCHN8 = assertus2.merge(hchn, how = "left", left_on = "Dx8", right_on = "Dx")
assertus_HCHN8 = assertus_HCHN8.rename(columns={"Dx" : "HDx8"})
assertus_HCHN8 = assertus_HCHN8["HDx8"]

In [214]:
assertus_HCHN9 = assertus2.merge(hchn, how = "left", left_on = "Dx9", right_on = "Dx")
assertus_HCHN9 = assertus_HCHN9.rename(columns={"Dx" : "HDx9"})
assertus_HCHN9 = assertus_HCHN9["HDx9"]

In [215]:
assertus_HCHN10 = assertus2.merge(hchn, how = "left", left_on = "Dx10", right_on = "Dx")
assertus_HCHN10 = assertus_HCHN10.rename(columns={"Dx" : "HDx10"})
assertus_HCHN10 = assertus_HCHN10["HDx10"]

In [216]:
assertus_HCHN11 = assertus2.merge(hchn, how = "left", left_on = "Dx11", right_on = "Dx")
assertus_HCHN11 = assertus_HCHN11.rename(columns={"Dx" : "HDx11"})
assertus_HCHN11 = assertus_HCHN11["HDx11"]

In [217]:
assertus_HCHN12 = assertus2.merge(hchn, how = "left", left_on = "Dx12", right_on = "Dx")
assertus_HCHN12 = assertus_HCHN12.rename(columns={"Dx" : "HDx12"})
assertus_HCHN12 = assertus_HCHN12[["HDx12", "sCardContractNo", "dDateFrom"]]

In [288]:
concat = pd.concat([assertus_HCHN1, assertus_HCHN2, assertus_HCHN3, assertus_HCHN4, assertus_HCHN5, assertus_HCHN6, assertus_HCHN7, assertus_HCHN8, assertus_HCHN9, assertus_HCHN10, assertus_HCHN11, assertus_HCHN12], axis = 1)
mask1 = concat[["HDx1", "HDx2", "HDx3", "HDx4", "HDx5", "HDx6", "HDx7", "HDx8", "HDx9", "HDx10", "HDx11","HDx12" ]].dropna(how = "all")
concat = mask1.merge(concat, how = "left", left_index = True, right_index = True)
concat = concat.drop(columns=["HDx1_x", "HDx2_x", "HDx3_x", "HDx4_x", "HDx5_x", "HDx6_x", "HDx7_x", "HDx8_x", "HDx9_x", "HDx10_x", "HDx11_x", "HDx12_x"])

,HDx1_y,HDx2_y,HDx3_y,HDx4_y,HDx5_y,HDx6_y,HDx7_y,HDx8_y,HDx9_y,HDx10_y,HDx11_y,HDx12_y,sCardContractNo,dDateFrom
281,NaN,NaN,NaN,NaN,I10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80010340499,2020-01-23 08:12:00
287,J45.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80029659129,2020-01-14 14:47:18
296,NaN,E11.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80032447817,2020-01-13 13:05:09
297,NaN,E11.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80032447817,2020-01-13 13:05:09
298,NaN,E11.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80032447817,2020-01-13 13:05:09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115318,NaN,NaN,J45.909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80001841864,2020-06-19 07:12:09
115319,NaN,NaN,J45.909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80001841864,2020-06-19 07:12:09
115320,I10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80000165416,2020-06-22 07:12:09
115321,I10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80000165416,2020-06-22 07:12:09
115322,I10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80000165416,2020-06-22 07:12:09

In [293]:
concat1 = concat["orden"] = concat.groupby("sCardContractNo")["dDateFrom"].rank(method="dense", ascending=False).astype(int)
concat1 = concat [concat["orden"] == 1]
#concat2.to_excel("probando123.xlsx")
concat1

,HDx1_y,HDx2_y,HDx3_y,HDx4_y,HDx5_y,HDx6_y,HDx7_y,HDx8_y,HDx9_y,HDx10_y,HDx11_y,HDx12_y,sCardContractNo,dDateFrom,orden
281,NaN,NaN,NaN,NaN,I10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80010340499,2020-01-23 08:12:00,1
340,I11.9,NaN,J45.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80021159064,2020-01-14 14:11:56,1
341,I11.9,NaN,J45.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80021159064,2020-01-14 14:11:56,1
342,I11.9,NaN,J45.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80021159064,2020-01-14 14:11:56,1
343,I11.9,NaN,J45.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80021159064,2020-01-14 14:11:56,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115318,NaN,NaN,J45.909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80001841864,2020-06-19 07:12:09,1
115319,NaN,NaN,J45.909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80001841864,2020-06-19 07:12:09,1
115320,I10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80000165416,2020-06-22 07:12:09,1
115321,I10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80000165416,2020-06-22 07:12:09,1
115322,I10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80000165416,2020-06-22 07:12:09,1

In [298]:
pd.melt(concat1,id_vars=["sCardContractNo"])
#concat2 = concat2.drop(columns=["variable"])
#concat2 = concat2.dropna()
#concat2 = concat2.groupby('sCardContractNo')['value'].apply(list)

       sCardContractNo variable  value
0          80010340499   HDx1_y    NaN
1          80021159064   HDx1_y  I11.9
2          80021159064   HDx1_y  I11.9
3          80021159064   HDx1_y  I11.9
4          80021159064   HDx1_y  I11.9
...                ...      ...    ...
257875     80001841864    orden      1
257876     80001841864    orden      1
257877     80000165416    orden      1
257878     80000165416    orden      1
257879     80000165416    orden      1

[257880 rows x 3 columns]

In [296]:
concat2.to_excel("1234.xlsx")

In [297]:
contact1

,HDx1_y,HDx2_y,HDx3_y,HDx4_y,HDx5_y,HDx6_y,HDx7_y,HDx8_y,HDx9_y,HDx10_y,HDx11_y,HDx12_y,sCardContractNo,dDateFrom,orden
281,NaN,NaN,NaN,NaN,I10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80010340499,2020-01-23 08:12:00,1
340,I11.9,NaN,J45.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80021159064,2020-01-14 14:11:56,1
341,I11.9,NaN,J45.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80021159064,2020-01-14 14:11:56,1
342,I11.9,NaN,J45.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80021159064,2020-01-14 14:11:56,1
343,I11.9,NaN,J45.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80021159064,2020-01-14 14:11:56,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115318,NaN,NaN,J45.909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80001841864,2020-06-19 07:12:09,1
115319,NaN,NaN,J45.909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80001841864,2020-06-19 07:12:09,1
115320,I10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80000165416,2020-06-22 07:12:09,1
115321,I10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80000165416,2020-06-22 07:12:09,1
115322,I10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80000165416,2020-06-22 07:12:09,1